{
    extends: ["vue", /* your other extends */],
    plugins: ["vue"],
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 8
    },
    rules: {
        'indent': ["error", 4, { 'SwitchCase': 1 }],
    }
}
