appdirs
arrow
backports.csv; python_version < '3.0'
bottle
bottle-sqlalchemy
canister
enum34; python_version < '3.4'
functools32; python_version < '3.2.3'
future
imagehash
pillow
requests
requests_mock
sqlalchemy
sqlalchemy-utils
SQLAlchemy-Enum-List
titlecase
unidecode
vobject
whoosh
https://git.weboob.org/weboob/devel/repository/archive.zip?ref=master
https://git.weboob.org/weboob/modules/repository/archive.zip?ref=master
