appdirs
arrow
bottle
bottle-sqlalchemy
canister
enum34
future
imagehash
pillow
requests
sqlalchemy
unidecode
whoosh
https://git.weboob.org/weboob/devel/repository/archive.zip?ref=master
https://git.weboob.org/weboob/modules/repository/archive.zip?ref=master
