alembic
appdirs
arrow
bottle
bottle-sqlalchemy
canister
future
imagehash
mapbox
pillow
requests
requests_mock
sqlalchemy
titlecase
unidecode
vobject
whoosh
https://git.weboob.org/weboob/devel/repository/archive.zip?ref=master
https://git.weboob.org/weboob/modules/repository/archive.zip?ref=master
